*.sif
*.log
*.pt
*.out
runs/
asyncDualPlayPPO/logs/
*.pyc
__pycache__/
*.lock
*.mp4
asyncDualPlayPPO/__pycache__
asyncDualPlayPPO/paper-async.master_venv/
curobo/
.master_venv/
curobo_overlay.imgcurobo_repo/
*.img
logs
*.dat
*.ckpt
*.pt
pingpong_dual_arm/
report_pics/
overleaf/
master_isaac_archive_clean/
pingpong_dual_arm
curobo_source
throwing_enviroment/
diffusion_policy/
curobo_source/
curobo_repo/
Isaaclab-TableTennisRobot/
gym-pusht/