<?xml version="1.0" encoding="utf-8"?>
<robot name="body_front.urdf">
    <!-- Combined Robot Body Link -->
    <link name="baseLink">
        <!-- Robot Body Visual -->
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="IRL_robot_body.dae" scale="0.011 0.012 0.0105"/>
            </geometry>
        </visual>

    </link>
</robot>
